# Python DataStructure and Boolean

### - Boolean
### - Boolean and Logical Operator
### - List
### - Camparison Opertor
### - Dictionaries 
### - sets
### - Touples

- Boolean values are two constant objects True and False
- They are used to represent truth values.(other values can also consdered to be true or false)
- in numeric context they behaves like integres 1 and 0
- the built in function bool() used to cast any value to boolean.

In [3]:
False

False

In [4]:
True

True

In [5]:
type(False)

bool

In [6]:
my_str = "YSP"

In [7]:
print(my_str.isalnum())
print(my_str.isnumeric())
print(my_str.isdecimal())

True
False
False

In [8]:
True and True

True

In [9]:
False and True

False

In [10]:
True or False

True

In [11]:
True and True

True

In [12]:
your_str = "YSP1"

In [13]:
 your_str.isupper() or my_str.islower()

True

# List
 A list is a data structure in python that is mutable, changable and ordered sequence of elements. Each element and value that is inside of list is an item. just as string are defined in a double or single quotes same as lst is defined in a square bracket[].

In [14]:
lst_ex = []

In [15]:
type(lst_ex)

list

In [16]:
x = list()

In [17]:
#creating a list with known size but unknown elements
x = []*5

In [18]:
type(x)

list

In [19]:
lst = ['Yogesh' , 'Sharad', 'Patil', 8408039572,9405422155]

In [20]:
len(lst)

5

## append:- 
        To add the item
        Append by default add lst at end

In [21]:
lst.append("Dongargaonkar")

In [22]:
lst

['Yogesh', 'Sharad', 'Patil', 8408039572, 9405422155, 'Dongargaonkar']

In [23]:
lst[2]

'Patil'

In [24]:
#changabel ,rewrite
lst[4] = 7843008804

In [25]:
lst

['Yogesh', 'Sharad', 'Patil', 8408039572, 7843008804, 'Dongargaonkar']

## insert :-
       to add the item at a perticular index
       (index,item)

In [26]:
lst.insert(0,'ER')

In [27]:
lst

['ER', 'Yogesh', 'Sharad', 'Patil', 8408039572, 7843008804, 'Dongargaonkar']

## extend-
            it also add elements...

In [28]:
lst.extend(["corporate",'or','civil services'])

In [29]:
lst

['ER',
 'Yogesh',
 'Sharad',
 'Patil',
 8408039572,
 7843008804,
 'Dongargaonkar',
 'corporate',
 'or',
 'civil services']

In [30]:
lst

['ER',
 'Yogesh',
 'Sharad',
 'Patil',
 8408039572,
 7843008804,
 'Dongargaonkar',
 'corporate',
 'or',
 'civil services']

In [31]:
lst = [1,2,3,4,5,6,7,8,9]

In [32]:
sum(lst)

45

In [33]:
lst*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
del lst[0]

In [36]:
lst

[2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
S = "spam's"

In [38]:
S

"spam's"

In [39]:
S = 's\np\ta\x00m'

In [40]:
S

's\np\ta\x00m'

In [41]:
S = r'\temp\spam'

In [42]:
S

'\\temp\\spam'

In [43]:
S = "spam's"

In [44]:
#iterating through the list
olq_list = ["Character",'comradship','Leadership','secular Outlook']
for value in range(0,len(olq_list)):
    print("{} ->".format(value),olq_list[value])
    
for value in olq_list:
    print(value)

0 -> Character
1 -> comradship
2 -> Leadership
3 -> secular Outlook
Character
comradship
Leadership
secular Outlook

In [45]:
olq_list[1:4]

['comradship', 'Leadership', 'secular Outlook']

In [46]:
olq_list[:4]

['Character', 'comradship', 'Leadership', 'secular Outlook']

In [47]:
olq_list[-4:-1]

['Character', 'comradship', 'Leadership']

In [48]:
olq_list[-2:]

['Leadership', 'secular Outlook']

In [ ]:
#taking input in a list
n = int(input("Enter number of elements"))
lst = []
for i in range(0,n):
    x = int(input("Enter element"))
    lst.append(x)
    
print(lst)

In [ ]:
lst = [ ]
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

In [ ]:
# taking multiple inputs at a time
# and type casting using list() function
x = list(map(int, input("Enter a multiple value: ").split()))
print("List of students: ", x)

In [ ]:
#taking multiple inputs at a time
method,*l=input().split()
k=list(map(int,l))
print(k)
print(method)

In [ ]:

var,method,*l=input().split()
k=list(map(int,l))
print(var)
print(method)
print(k)